.pagination {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    margin: 1rem 0;
}

.pagination li {
    display: inline;
}

.pagination-button {
    background-color: #00afb9;
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.pagination-button:hover {
    background-color: #0081a7;
  }
  
.pagination-button.active {
    background-color: #073b4c;
}