.repo-item {
    background-color: #f4f2c3;
    padding: 1rem;
    border-radius: 4px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.repo-item a {
    display: inline-block;
    padding: 6px 12px;
    background-color: #00afb9;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .repo-item a:hover {
    background-color: #008b90;
  }

.repo-item p {
    margin: 10px 0;
}

.star-symbol {
    color: #f1be49;
}